@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --wrapper_width: 100%;

  --sidebars_width: 250px;
}

.sidebars {
  width: var(--sidebars_width);
  min-height: 100vh;
  z-index: 10;
  background-color: #32363b;
  padding-top: 90px;
}
.sidebars > div {
position: sticky;
    top: 100px;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: all .2s ease;
}
a:hover {
  color: #535bf2;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.h_btns svg {
  color: #fff;
  font-size: 1.5rem;
}
.wrapper {
  width: var(--wrapper_width);
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.cam_res {
  border-radius: 5px;
}
.cam_res.active {
  outline: 2px solid #646cff;
}
.cam_res > div:first-child {
  position: absolute;
  top: 0;
  background-color: #474747b8;
  width: 100%;
  backdrop-filter: blur(2px);
  padding: 5px 10px;
  color: #fff;
}
.cam_res > div:first-child {

}
.cam_res img {
  border-radius: 5px;
}
.alert_mgr {

}
.alert_mgr .alert_li {
  border-bottom: 1px solid #3d3d3d;
}
.alert_mgr .alert_li:last-of-type {
  border-bottom: none;
}
.nowrap_text {
  text-align: left;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.log_level {
  transition: .5s ease all;
  border-radius: 5px;
  padding: 4px 0;
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
  width: 80px;
  margin-right: 10px;
}

@keyframes color-change {
  0% {
      background-color: #24272B;
  }
  100% {
      background-color: red;
  }
}

.t_animate {
  animation-name: color-change;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.alert_ico {
  height: 45px;
  width: 45px;
  background-color: #272727;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert_ico svg {
  color: #fff;
  font-size: 1.8rem;
  
}
.threats_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 2px;
}
.threats_info > div {
/*  width: ;*/
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}
.threats_info > div > span:first-child {
    font-size: .75rem;
}
.threats_info > div > span:last-of-type {
font-size: 1.2rem;
    font-weight: 500;
}
.cam_res_wrap  {
  display: grid;
  gap: 10px; /* Gap between grid items */
  transition: all 0.5s ease; /* Animate the change in grid-template-columns */

}
.cam_res_wrap.row {
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
}
.cam_res_wrap.column {
  grid-template-columns: repeat(2); /* Two equal columns */
}
.cam_res_wrap.column img {
  /* Ensure images fill the grid item */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cam_res_wrap.row img {
  /* Ensure images fill the grid item */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 640px) {
  :root {
    --wrapper_width: 620px;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --wrapper_width: 750px;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --wrapper_width: 100%;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}
